<div class=" row-fluid tabbable well well-small">
  <div class="span2">
    <ul class="nav nav-list">
      <li class="active"><a href="#tab1" data-toggle="tab">Notre sélection</a></li>
      <li><a href="#tab2" data-toggle="tab">Financés</a></li>
      <li><a href="#tab3" data-toggle="tab">Les plus populaires</a></li>
      <li><a href="#tab4" data-toggle="tab">Juste commencés</a></li>
      <li><a href="#tab5" data-toggle="tab">Bientôt terminés</a><li>
    </ul>
  </div>
  <div class="tab-content span10">
    <div class="tab-pane active" id="tab1">
        <!-- Slider -->
        <div class="row-fluid" id="slider">
          <!-- Top part of the slider -->
          <div id="carousel-bounding-box">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item" data-slide-number="0">

                    
                  <div class="span11" style="padding-top:15px;padding-bottom:15px;margin-left:15px;">
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;margin-top:10px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;margin-top:10px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;margin-top:10px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>

                  <!--<div class="carousel-caption">
                      <h4>{{name}}</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>-->
                </div>
                <div class="item" data-slide-number="1">
                  
                  <div class="span11" style="padding-top:15px;padding-bottom:15px;margin-left:15px">
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>

                  <!--<div class="carousel-caption">
                      <h4>{{name}}</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>-->
                  
                </div>
                <div class="item" data-slide-number="2">
                  
                  <div class="span11" style="padding-top:15px;padding-bottom:15px;margin-left:15px">
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>

                  <!--<div class="carousel-caption">
                      <h4>{{name}}</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>-->
                  
                </div>
                <div class="item" data-slide-number="3">
                  
                  <div class="span11" style="padding-top:15px;padding-bottom:15px;margin-left:15px;">
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>
                  
                </div>
                <div class="item" data-slide-number="4">
                  
                  <div class="span11" style="padding-top:15px;padding-bottom:15px;margin-left:15px;">
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>
                  
                </div>
                <div class="item" data-slide-number="5">
                  
                  <div class="span11" style="padding-top:15px;padding-bottom:15px;margin-left:15px;">
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="projectItem span4" style="opacity: 1;padding-left:20px;">  
                      <div class="projectItem_container">
                        <div class="project-thumbnail project-three-column">
                          <div class="plan">
                            <div class="plan-name-color" style="height:172px;">
                                <span class="descriptionProjectItem">
                                  <center>
                                    Nom du projet<br /><br />
                                    Description du projet, projet sympa avec des trucs à faire<br />
                                    <a href="/view/project/{{_id}}">Read more</a>
                                  </center>
                                </span>  
                            </div>
                            <ul>
                              <li class="plan-feature">
                                <i class="icon-user"></i> by <a href="#">
                                    John Doe
                                    </a><br /> 
                                    <i class="icon-calendar"></i> 08/07/2009<br /> 
                                    <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" >48 commentaires</a><br /> 
                                    <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
                              </li>
                              <li class="plan-feature">
                                <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
                                <i class="icon-tags"></i> Tags :
                                <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">NoSql</span></a>      
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>
                  
                </div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
            </div>
          </div>
        </div>

    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="tab3">
      <p>Howdy, I'm in Section 3.</p>
    </div>
    <div class="tab-pane" id="tab4">
      <p>Howdy, I'm in Section 4.</p>
    </div>
    <div class="tab-pane" id="tab5">
      <p>Howdy, I'm in Section 5.</p>
    </div>
  </div>
</div>

<!--<div class="thumbnail" style="height: 350px;">
    <div class="row-fluid" style="margin-bottom: 3%;">
        <div class="span12" style="
                                color: #FFFFFF;border: 1px solid #D4D4D4;
                                border-radius: 4px 4px 4px 4px;
                                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
                                background-color: {{theme_color}};
                                #background-image: linear-gradient(to bottom, #F2F2F2, #CC4400);
                                background-repeat: repeat-x;
                                padding-top: 5px;
        ">
            <p class="text-center lead" style="margin: 0px;">{{title}}</p>
        </div>
    </div>
    <div class="row-fluid" style="height: 80%; overflow-x: hidden; overflow-y: auto; padding-right: 5px;">
        {{#each articles}}{{/each}} 
        <div class="span12 thumbnail" style="height: 125px; margin: 0px;">
            <div class="span4">
                <a href="{{this.link}}"><img src="{{this.img}}http://placehold.it/320x200" alt="ALT NAME"/></a>
            </div>
            <div class="caption span6">
                <p >{{this.resume}}</p>
            </div>
            <div class="span2" style="height: 100%; position: relative;">
                <p class="text-center" style="position: absolute; top: 50%; margin-top: -15px; height: 30px; width: 100%;"> 10/20 </a>
            </div>
        </div>
        <div class="span12" ></div>
               
    </div>
    <div class="row-fluid">
        <div class="span12">
        </div>
    </div>
</div>-->
    
    
    
    
<!--
      <img src="http://placehold.it/320x200" alt="ALT NAME" />
      <div class="caption">
        <h3>Header Name</h3>
        <p>Description</p>
        <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
      </div>
    </div>
-->