  <style>
	h3[class="popover-title"] {
		color:grey;
	}
	
	li span {
		float: right;
	}
  </style>

<div class="sidebar-nav" style="margin-left:10px;">
  <div class="well well-small">
    <div class="row">
      <div class="span1"><a href="/view/user" class="thumbnail"><img src={{#if user.thumbnail}} {{user.thumbnail}} {{else}} "http://critterapp.pagodabox.com/img/user.jpg" {{/if}} alt=""></a></div>
      <div class="span2">
	{{#if user.roles}}
	  {{#each user.roles}}
	    {{this}}<br/>
	  {{/each}}
	{{else}}
	guest <br/>
	{{/if}}
        
        <strong>{{#if user.firstname}} {{user.lastname}} {{user.firstname}} {{else}}John Doe{{/if}}</strong><br />
        <span class=" badge badge-warning"><a id="popoDemandes" style="color: white;" data-placement="right" data-toggle="popover" href="#" data-original-title="Mes demandes" data-trigger='focus'>3 demandes</a></span> 
		<span class=" badge badge-info"><a id="popoInvit" style="color: white;" data-placement="right" data-toggle="popover" href="#" data-original-title="Mes invitations" data-trigger='focus'>4 invitations</span><br /><br />
      </div>
      <br />
      <div class="span4">
        <a href="/view/projectLauncher" class="btn"><i class="icon-pencil"></i> <strong>New project</strong></a>
      </div>
    </div>
  </div>
</div>

<div class="sidebar-nav" style="margin-left:10px;">
  <div class="well well-small">
    <ul class="nav nav-list">
      <li class="nav-header">Main</li>
      <li><a href="#" onClick='listeProj("myProjects");'><i class="icon-home"></i> My projects</a>
		<div id="myProjects" style="display:none;">
			<ul>
				<li><a href="projet3">Projet 3</a><span class="label label-important">1 week left</span></li>
				<li><a href="projet3Bis">Projet 3 bis</a><span class="label label-inverse">incubating...</span></li>
			</ul>
		</div>
	  </li>
      <li><a href="#" onClick='listeProj("theirProjects");'><i class="icon-edit"></i> Projects I'm involved in</a>
		<div id="theirProjects" style="display:none;">
			<ul>
				<li><a href="projet4">Projet 4</a><span class="label label-info">Smthng new!</span></li>
			</ul>
		</div>
	  </li>
	  
      <li><a href="#" onClick='listeProj("favourPojects");'><i class="icon-star"></i> My favourites</a>
		<div id="favourPojects" style="display:none;">
			<ul>
				<li><a href="projet5">Projet 5</a><span class="label label-success">Finished</span></li>
			</ul>
		</div>
	  </li>
    </ul>
  </div>
</div>


<div class="sidebar-nav" style="margin-left:10px;">
  <div class="well">
    <form class="navbar-form form-search span2" id="formSearchProjects">
      <input id="inputSearchProjects" type="text" class="search-query typeahead input-medium" placeholder="Search projects" autocomplete="off" style="margin-bottom: auto; margin-top: auto;"/>
      <input type="submit" value="search" style="display: none;" />
      	<!-- lol -->
	<!--
        <div class="input-append search" >
          <input type="text" style="height: 100%;" class="span2 typeahead"/>
          <div class="btn-group" style="height: 100%;">
            <button tabindex="-1" class="btn">Search</button>
            <button tabindex="-1" data-toggle="dropdown" class="btn dropdown-toggle">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>-->
        </div>
	<!-- lol -->
    </form>  
  </div>
</div>

<script>
	
	  $('#popoDemandes').popover({
        'selector': '',
        'content': '<ul class="nav nav-list"><li><a href="leProjet1">Projet 1</a></li><li><a href="leProjet1">Projet 1</a></li><li>...</li></ul>',
        'html': 'true'
      });

	  $('#popoInvit').popover({
        'selector': '',
        'content': '<ul class="nav nav-list"><li><a href="www.kick.fr/index/leProjet2">Projet 2</a></li><li>...</li><li>...</li><li>...</li></ul>',
        'html': 'true'
      });	  
	  
	  function listeProj(lstName) {
	    $( "#"+lstName ).toggle('500');
	  }
	  
  </script>