<div class="projectItem_container">
  <style>
    .project-thumbnail .plan {
      border:solid 1px #9EBACC;
      border-radius: 5px;
      text-align: center;
      background-color: #f3f3f3;
      #-moz-box-shadow: 0 0 6px 2px #b0b2ab;
      #-webkit-box-shadow: 0 0 6px 2px #b0b2ab;
      #box-shadow: 0 0 6px 2px #b0b2ab;
      margin-bottom:10px;
    }
    .plan:hover {
      background-color: #fff;
      -moz-box-shadow: 0 0 12px 3px #b0b2ab;
      -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
      box-shadow: 0 0 12px 3px #b0b2ab;
      #border:1px solid #0088CC;
    }
    .plan-feature{

    }
    
    .plan {
      color: #ff;
      background-color: #5e5f59;
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }
    .plan-name-color {  
      color: #fff;
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      background-image:url(http://placehold.it/172x172);
    }
    .project-thumbnail-color {
      padding: 20px;
      color: #fff;
      background-color: #f89406;
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }
    .project-thumbnail .plan .plan-name span {
      font-size: xx-small;
    }
    .project-thumbnail .plan ul {
      list-style: none;
      margin: 0;
      -moz-border-radius: 0 0 5px 5px;
      -webkit-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
    }
    .project-thumbnail .plan ul li.plan-feature {
      padding: 5px 5px;
      border-top: 1px solid #c5c8c0;
      text-align:left;
      font-size:x-small;
    }
    .project-three-column {
      margin: 0 auto;
    }
    .plan {
      float: none;
      vertical-align: bottom;
      display: inline-block;
      *display:inline;
    }
    .plan-mouseover .plan-name {
      background-color: #4e9a06 !important;
    }
    .descriptionProjectItem{
      opacity:0;
    }
    .plan:hover .descriptionProjectItem{
      border-top-left-radius:5px;
      border-top-right-radius:5px;
      margin:2px;
      opacity:1;
    }    
  </style>

  <div class="project-thumbnail project-three-column">
    <div class="plan">
      <div class="plan-name-color" style="height:160px;">
          <span class="descriptionProjectItem">
            <center>
              {{name}}<br /><br />
              {{description}}<br />
              <a href="/view/user/{{_id}}">Read more</a>
            </center>
          </span>  
      </div>
      <ul>
        <li class="plan-feature">
           <i class="icon-user"></i> by <a href="#">
              {{#each members}}
                {{#if this.fondateur}}
                  {{this.fondateur.ref_utilisateur}}
                {{/if}}
              {{/each}}
              </a><br /> 
              <i class="icon-calendar"></i> {{creation_date}}<br /> 
              <i class="icon-comment"></i> <a href="/collection/comments/{{_id}}" class="comments_number" ></a><br /> 
              <i class="icon-pencil"></i> <a  href="#" >N Contributeurs</a><br /> 
        </li>
        <li class="plan-feature">
          <i class="icon-star"></i> Note :  <span class="star_rating"></span><br />           
          <i class="icon-tags"></i> Tags :
          {{#each topics}}
            <a href="/col/projects_by_topic/{{this}}" class="toResTags" ><span class="label label-info">{{this}}</span></a> 
          {{/each}}      
        </li>
      </ul>
    </div>
  </div>
</div>